.searchBCA {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-top: 50px;
    align-items: center;
}

input {
    margin:15px 0;
	padding:15px 10px;
	width:100%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
}

input[type=text]:focus,
input[type="password"]:focus {
	border-color:cornflowerblue;
}


input[type=text] {
    
    width: 30em;
    height: 20px;
}